<!DOCTYPE html>
<section ng-controller="linksCtrl">
    <section id="content">
        <article>
            <h2>History</h2>
            <h3>Antiquity</h3>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Marcus_Valerius_Corvus">https://en.wikipedia.org/wiki/Marcus_Valerius_Corvus</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Claudius">https://en.wikipedia.org/wiki/Claudius</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Aurelian">https://en.wikipedia.org/wiki/Aurelian</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Marcus_Licinius_Crassus">https://en.wikipedia.org/wiki/Marcus_Licinius_Crassus</a></li>
                <li><a href="https://www.warhistoryonline.com/ancient-history/romans-china-lost-legions-carrhae.html">https://www.warhistoryonline.com/ancient-history/romans-china-lost-legions-carrhae.html</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Pyrrho">https://en.wikipedia.org/wiki/Pyrrho</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Valerian_(emperor)">https://en.wikipedia.org/wiki/Valerian_(emperor)</a></li>
                <li>Rome&#8217;s version of JFK conspiracy <a href="https://en.wikipedia.org/wiki/Catiline">https://en.wikipedia.org/wiki/Catiline</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Mithridates_VI_of_Pontus">https://en.wikipedia.org/wiki/Mithridates_VI_of_Pontus</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Ariovistus">https://en.wikipedia.org/wiki/Ariovistus</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Vercingetorix">https://en.wikipedia.org/wiki/Vercingetorix</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Gallic_Wars">https://en.wikipedia.org/wiki/Gallic_Wars</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Arminius">https://en.wikipedia.org/wiki/Arminius</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Livia">https://en.wikipedia.org/wiki/Livia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Xenophon">https://en.wikipedia.org/wiki/Xenophon</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Tomyris">https://en.wikipedia.org/wiki/Tomyris</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Labarum">https://en.wikipedia.org/wiki/Labarum</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Siege_of_Masada">https://en.wikipedia.org/wiki/Siege_of_Masada</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Antikythera_mechanism">https://en.wikipedia.org/wiki/Antikythera_mechanism</a></li>
                <li><a href="https://www.deseretnews.com/article/705333400/Archaeologists-unveil-ruins-of-Neros-rotating-banquet-hall.html">https://www.deseretnews.com/article/705333400/Archaeologists-unveil-ruins-of-Neros-rotating-banquet-hall.html</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Carus">https://en.wikipedia.org/wiki/Carus</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Battle_of_Drepana">https://en.wikipedia.org/wiki/Battle_of_Drepana</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Prester_John">Prester John &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Barbatio">https://en.wikipedia.org/wiki/Barbatio</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Firmus_(4th-century_usurper)">https://en.wikipedia.org/wiki/Firmus_(4th-century_usurper)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Phaethon">Phaethon &#8211; Wikipedia</a></li>
                <li><a href="http://www.kadingirra.com/city_plan.html">Babylon 3D</a></li>
                <li><a href="https://www.youtube.com/watch?v=ltjH6HPs7vg">&#8220;The Accidental Suicide of the Roman Empire&#8221; by Michael Kulikowski &#8211; YouTube</a></li>
                <li><a href="https://www.youtube.com/watch?v=F_pO8ai1WDI">https://www.youtube.com/watch?v=F_pO8ai1WDI</a></li>
            </ul>
            <h3>Other History</h3>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Frederick_the_Great">https://en.wikipedia.org/wiki/Frederick_the_Great</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Julius_Martov">https://en.wikipedia.org/wiki/Julius_Martov</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Nicholas_II_of_Russia">https://en.wikipedia.org/wiki/Nicholas_II_of_Russia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Ivan_Goremykin">https://en.wikipedia.org/wiki/Ivan_Goremykin</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Alexander_Protopopov">https://en.wikipedia.org/wiki/Alexander_Protopopov</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Alexander_Parvus">https://en.wikipedia.org/wiki/Alexander_Parvus</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Franz_Conrad_von_H%C3%B6tzendorf">https://en.wikipedia.org/wiki/Franz_Conrad_von_H%C3%B6tzendorf</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Georgy_Zhukov">https://en.wikipedia.org/wiki/Georgy_Zhukov</a></li>
            </ul>
            <h2>Misc</h2>
            <ul>
                <li>Shakespeare Mystery <a href="http://www.tobeornottobe.org/">http://www.tobeornottobe.org/</a></li>
                <li><a href="https://en.wikipedia.org/wiki/10_Downing_Street">https://en.wikipedia.org/wiki/10_Downing_Street</a></li>
                <li><a href="https://historyofrights.ca/encyclopaedia/main-events/duplessis-orphans/">https://historyofrights.ca/encyclopaedia/main-events/duplessis-orphans/</a></li>
                <li></li>
                <li><a href="http://www.ribbonfarm.com/">ribbonfarm – experiments in refactored perception</a></li>
                <li><a href="http://www.metafilter.com/">MetaFilter | Community Weblog</a></li>
                <li><a href="http://www.wipp.energy.gov/picsprog/articles/wipp%20exhibit%20message%20to%2012,000%20a_d.htm">WIPP Exhibit: Message to 12,000 A.D.</a></li>
                <li><a href="https://medium.com/@bartobri/applying-the-linus-tarvolds-good-taste-coding-requirement-99749f37684a#.xcim96rht">Applying the Linus Torvalds “Good Taste” Coding Requirement – Medium</a></li>
                <li><a href="http://marketmeditations.com/benjamin-franklin-learn-to-write/">The Benjamin Franklin Method: How to (Actually) Learn to Write</a></li>
                <li><a href="https://news.ycombinator.com/item?id=12878337">Is democracy a failure? (1861) | Hacker News</a></li>
                <li><a href="http://www.nytimes.com/1861/03/14/news/is-democracy-a-failure.html">Is Democracy a Failure? &#8211; NYTimes.com</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Iron_law_of_oligarchy">Iron law of oligarchy &#8211; Wikipedia</a></li>
                <li><a href="https://news.ycombinator.com/item?id=12887569">Shyness: small acts of heroism | Hacker News</a></li>
                <li><a href="http://chine.in/fichiers/jourwest.pdf">Journey to the West &#8211; jourwest.pdf</a></li>
                <li><a href="https://news.ycombinator.com/item?id=12909752">Donald Trump Is Elected President | Hacker News</a></li>
                <li><a href="https://news.ycombinator.com/item?id=12889807">LessPass: sync-less open source password manager | Hacker News</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Khevsureti">Khevsureti &#8211; Wikipedia</a></li>
                <li><a href="https://www.youtube.com/watch?v=GLG9g7BcjKs&amp;feature=youtu.be">President Trump: How &amp; Why&#8230; &#8211; YouTube</a></li>
                <li><a href="http://www.simulation-argument.com/simulation.html">Are You Living in a Simulation?</a></li>
                <li><a href="https://www.facebook.com/viralthread/videos/598130190359668/">FB &#8211; President Trump: How &amp; Why</a></li>
                <li><a href="https://stories.wegnerdesign.com/how-i-party">How I Party by Joe Wegner</a></li>
                <li><a href="https://news.ycombinator.com/item?id=13008408">4-bit calculator made from cardboard and marbles | Hacker News</a></li>
                <li><a href="https://news.ycombinator.com/item?id=13013327">Show HN: Spamnesty: Waste spammers&#8217; time | Hacker News</a></li>
                <li><a href="https://github.com/Developer-Y/cs-video-courses/blob/master/README.md#computer-networks">cs-video-courses/README.md at master · Developer-Y/cs-video-courses · GitHub</a></li>
                <li><a href="https://news.ycombinator.com/item?id=13068641">War Is a Racket by General Smedley D. Butler (1933) | Hacker News</a></li>
                <li><a href="https://news.ycombinator.com/item?id=13068124">How to Master an Accent | Hacker News</a></li>
                <li><a href="https://news.ycombinator.com/item?id=13089489">Crypto 101 – Introductory course on cryptography | Hacker News</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Max_Stirner">Max Stirner &#8211; Wikipedia</a></li>
                <li><a href="https://news.ycombinator.com/item?id=13213436">A German proposal to criminalize fake news | Hacker News</a></li>
                <li><a href="https://www.youtube.com/watch?v=-evIyrrjTTY">This Land is Mine &#8211; YouTube</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Maladaptive_daydreaming">Maladaptive daydreaming &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Shaolin_Monastery">Shaolin Monastery &#8211; Wikipedia</a></li>
                <li><a href="http://nymag.com/scienceofus/2017/01/why-your-mind-is-always-wandering.html?mid=facebook_scienceofus">Why Your Mind Is Always Wandering &#8212; Science of Us</a></li>
                <li><a href="https://www.youtube.com/channel/UCv1WDP5EiipMQ__C4Cg6aow">Tilo Jung &#8211; YouTube</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Sutton%27s_law">Sutton&#8217;s law &#8211; Wikipedia</a></li>
                <li><a href="https://www.urbandictionary.com/define.php?term=bogative">Urban Dictionary: bogative</a></li>
                <li><a href="http://www.dictionary.com/browse/grouse">Grouse | Define Grouse at Dictionary.com</a></li>
                <li><a href="https://www.merriam-webster.com/dictionary/glitch">Glitch | Definition of Glitch by Merriam-Webster</a></li>
                <li><a href="http://www.dictionary.com/browse/bigot?s=t">Bigot | Define Bigot at Dictionary.com</a></li>
                <li><a href="http://www.noagendashop.com/">NO AGENDA SHOP</a></li>
                <li><a href="https://news.ycombinator.com/item?id=12725427">Wikileaks: Julian Assange&#8217;s internet access &#8216;cut&#8217; | Hacker News</a></li>
                <li><a href="https://www.youtube.com/watch?v=UZPCp8SPfOM">Joe Rogan Experience #911 &#8211; Alex Jones &amp; Eddie Bravo &#8211; YouTube</a></li>
                <li><a href="http://www.thedailyliberator.com/break-up-the-usa/">Break Up the USA | The Daily Liberator</a></li>
                <li><a href="https://idealmedia.com/social">IdealMedia &#8211; Social networks</a></li>
                <li><a href="http://www.zerohedge.com/news/2016-12-24/obama-signs-countering-disinformation-and-propaganda-act-law">Obama Quietly Signs The &#8220;Countering Disinformation And Propaganda Act&#8221; Into Law | Zero Hedge</a></li>
                <li><a href="https://www.youtube.com/watch?v=jS73PYGlUAk">Bill Clinton on Illegal Immigration 1995 &#8211; YouTube</a></li>
                <li><a href="https://www.youtube.com/watch?v=T7LGoHV3aKs">Flashback 2005: Sen.Obama On Illegal Immigration &#8211; YouTube</a></li>
                <li><a href="http://www.zerohedge.com/news/2017-02-09/fake-newsflow-are-ny-times-guardian-and-wapo-buying-clicks-china-jumps-trickle-half-">Are The NY Times, Guardian, And WaPo Buying Clicks? China Jumps From Trickle To Half Of All Traffic In Two Months | Zero Hedge</a></li>
                <li><a href="http://www.zerohedge.com/news/2017-01-01/if-there-really-was-evidence-russian-hacking-nsa-would-have-it">If There Really Was Evidence Of Russian Hacking, The NSA Would Have It | Zero Hedge</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Conflagration">Conflagration &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Maya_codices">Maya codices &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Younger_Dryas_impact_hypothesis">Younger Dryas impact hypothesis &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/G%C3%B6bekli_Tepe">Göbekli Tepe &#8211; Wikipedia</a></li>
                <li><a href="https://www.youtube.com/watch?v=L1jB7RBGVGk">Reefer Madness Trailer Great marijuana movie &#8211; YouTube</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Group_selection">Group selection &#8211; Wikipedia</a></li>
                <li><a href="https://thecontrol.co/cryptoeconomics-101-e5c883e9a8ff">Cryptoeconomics 101 – The Control</a></li>
                <li><a href="https://www.youtube.com/watch?v=Wo21LRTc1Uc">Fall of Eagles E01</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Donald_Gregg">https://en.wikipedia.org/wiki/Donald_Gregg</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Timber_Sycamore">https://en.wikipedia.org/wiki/Timber_Sycamore</a></li>
                <li><a href="https://news.ycombinator.com/item?id=18881827">hacker news thread: most of what we read on the internet is written by insane people</a></li>
                <li><a href="https://www.telegraph.co.uk/news/2018/05/06/millennials-turned-sex-study-suggests-one-eight-still-virgins/">https://www.telegraph.co.uk/news/2018/05/06/millennials-turned-sex-study-suggests-one-eight-still-virgins/</a></li>
                <li><a href="https://twitter.com/ggreenwald/status/895705990619742209">https://twitter.com/ggreenwald/status/895705990619742209</a></li>
                <li><a href="https://www.thenation.com/article/a-new-report-raises-big-questions-about-last-years-dnc-hack/">https://www.thenation.com/article/a-new-report-raises-big-questions-about-last-years-dnc-hack/</a></li>
                <li><a href="https://www.theguardian.com/commentisfree/2016/nov/28/alt-right-online-poison-racist-bigot-sam-harris-milo-yiannopoulos-islamophobia">‘Alt-right’ online poison nearly turned me into a racist | Anonymous | Opinion | The Guardian</a></li>
                <li><a href="https://www.youtube.com/channel/UCAhmDfQ1LfOYECmNNWgXJ7Q">David Icke &#8211; YouTube</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kursk_submarine_disaster">Kursk submarine disaster &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/USS_San_Francisco_(SSN-711)">USS San Francisco (SSN-711) &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/CIA_involvement_in_Contra_cocaine_trafficking">CIA involvement in Contra cocaine trafficking &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Iran%E2%80%93Contra_affair">https://en.wikipedia.org/wiki/Iran%E2%80%93Contra_affair</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Francis_Galton">Francis Galton &#8211; Wikipedia</a></li>
                <li><a href="https://www.youtube.com/watch?v=dWUzfJGmt5U">The New Pearl Harbor ~ full &#8211; YouTube</a></li>
                <li><a href="https://www.youtube.com/watch?v=zdMbmdFOvTs">JFK Secret Societies Speech (full version) &#8211; YouTube</a></li>
                <li><a href="https://www.youtube.com/watch?v=8y06NSBBRtY">Eisenhower warns us of the military industrial complex. &#8211; YouTube</a></li>
                <li><a href="https://www.law.cornell.edu/uscode/text/50/1520a">50 U.S. Code § 1520a &#8211; Restrictions on use of human subjects for testing of chemical or biological agents | US Law | LII / Legal Information Institute</a></li>
                <li><a href="http://www.zerohedge.com/news/2016-05-28/6-giant-corporations-control-media-and-americans-consume-10-hours-programming-day">6 Giant Corporations Control The Media, And Americans Consume 10 Hours Of &#8220;Programming&#8221; A Day | Zero Hedge</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Catherine_Austin_Fitts">Catherine Austin Fitts &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Independent_Press_Standards_Organisation">Independent Press Standards Organisation &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Barry_Seal">Barry Seal &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Murder_of_Seth_Rich">Murder of Seth Rich &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Media_Matters_for_America">Media Matters for America &#8211; Wikipedia</a></li>
                <li><a href="https://www.youtube.com/user/placeboing/videos">placeboing &#8211; YouTube</a></li>
                <li><a href="http://www.news.com.au/world/middle-east/is-the-fight-over-a-gas-pipeline-fuelling-the-worlds-bloodiest-conflict/news-story/74efcba9554c10bd35e280b63a9afb74">Syrian war explainer: Is it all about a gas pipeline?</a></li>
                <li><a href="http://www.ihr.org/jhr/v07/v07p498_okeefe.html">David Irving on Winston Churchill</a></li>
                <li><a href="http://killinged.com/">Killing Ed | Charter Schools, Corruption, and the Gülen Movement in America</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Uranium_One">Uranium One &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/White_House_travel_office_controversy">White House travel office controversy &#8211; Wikipedia</a></li>
                <li>Dodd report <a href="http://brynmawrcollections.org/traces/archive/files/552952f585af5ef916a246c55fcb7a76.pdf">http://brynmawrcollections.org/traces/archive/files/552952f585af5ef916a246c55fcb7a76.pdf</a></li>
                <li><a href="http://www.paradigmresearchgroup.org/Rockefeller_Initiative_Documents.htm">http://www.paradigmresearchgroup.org/Rockefeller_Initiative_Documents.htm</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Operation_Mockingbird">https://en.wikipedia.org/wiki/Operation_Mockingbird</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Anderson_Cooper">https://en.wikipedia.org/wiki/Anderson_Cooper</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Project_MKUltra">https://en.wikipedia.org/wiki/Project_MKUltra</a></li>
                <li><a href="https://boingboing.net/2014/05/09/how-the-cia-created-the-unabom.html">https://boingboing.net/2014/05/09/how-the-cia-created-the-unabom.html</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Ted_Kaczynski">https://en.wikipedia.org/wiki/Ted_Kaczynski</a></li>
                <li>WTC 7 Evaluation October 2016 Update: ASCE Fairbanks Engineers host Dr. Hulsey <a href="https://www.youtube.com/watch?v=EKN4qilUOfs">https://www.youtube.com/watch?v=EKN4qilUOfs</a></li>
                <li>10 Disturbing 9/11 Facts You&#8217;ll Wish Weren&#8217;t True <a href="https://www.youtube.com/watch?v=zbsZjW-m0x8">https://www.youtube.com/watch?v=zbsZjW-m0x8</a></li>
                <li><a href="http://www.dailymail.co.uk/news/article-2584309/Bill-Clinton-identified-lawsuit-against-former-friend-pedophile-Jeffrey-Epstein-regular-orgies-Caribbean-compound-former-president-visited-multiple-times.html">http://www.dailymail.co.uk/news/article-2584309/Bill-Clinton-identified-lawsuit-against-former-friend-pedophile-Jeffrey-Epstein-regular-orgies-Caribbean-compound-former-president-visited-multiple-times.html</a></li>
                <li><a href="https://www.zerohedge.com/news/2017-01-01/if-there-really-was-evidence-russian-hacking-nsa-would-have-it">https://www.zerohedge.com/news/2017-01-01/if-there-really-was-evidence-russian-hacking-nsa-would-have-it</a></li>
                <li><a href="http://www.skeptiko-forum.com/threads/proposal-about-contact-with-intelligence-through-extended-consciousness-demonstration.3151/">http://www.skeptiko-forum.com/threads/proposal-about-contact-with-intelligence-through-extended-consciousness-demonstration.3151/</a></li>
                <li><a href="http://www.peterdalescott.net/q.html">http://www.peterdalescott.net/q.html</a></li>
                <li>Carl Duisberg: &#8220;A Criminal Genius&#8221; <a href="http://www.cbgnetwork.org/4062.html">http://www.cbgnetwork.org/4062.html</a></li>
                <li>Donald Trump Time Travel Theory- Tesla, Barron Trump, Mike Pence and Meme Magic <a href="https://www.youtube.com/watch?v=ZdBrlu7nUhs">https://www.youtube.com/watch?v=ZdBrlu7nUhs</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Norman_Lear">https://en.wikipedia.org/wiki/Norman_Lear</a></li>
                <li><a href="http://starburstfound.org/">http://starburstfound.org/</a></li>
                <li><a href="http://starburstfound.org/">The Starburst Foundation | Science for Survival</a></li>
                <li><a href="http://charlesortel.com/">Charles Ortel</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Whitewater_controversy">Whitewater controversy &#8211; Wikipedia</a></li>
                <li><a href="https://www.russiamatters.org/analysis/russias-role-us-elections-case-caution">Russia’s Role in the US Elections: The Case for Caution | Russia Matters</a></li>
                <li><a href="https://www.cchrint.org/school-shooters/">School Shooters &amp; Stabbings Committed by those on Psychiatric Drugs | CCHR International</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Eric_Holder">Eric Holder &#8211; Wikipedia</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Operation_Gladio">https://en.wikipedia.org/wiki/Operation_Gladio</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Operation_Northwoods">https://en.wikipedia.org/wiki/Operation_Northwoods</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Gulf_of_Tonkin_incident">https://en.wikipedia.org/wiki/Gulf_of_Tonkin_incident</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Jaime_Rold%C3%B3s_Aguilera">https://en.wikipedia.org/wiki/Jaime_Rold%C3%B3s_Aguilera</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Omar_Torrijos">https://en.wikipedia.org/wiki/Omar_Torrijos</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Philadelphia_Experiment">https://en.wikipedia.org/wiki/Philadelphia_Experiment</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Tuskegee_syphilis_experiment">https://en.wikipedia.org/wiki/Tuskegee_syphilis_experiment</a></li>
                <li><a href="https://en.wikipedia.org/wiki/USS_Maine_(ACR-1)">https://en.wikipedia.org/wiki/USS_Maine_(ACR-1)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/ATF_gunwalking_scandal">https://en.wikipedia.org/wiki/ATF_gunwalking_scandal</a></li>
            </ul>
            <h3>UFOs/Antarctica</h3>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Piri_Reis_map">https://en.wikipedia.org/wiki/Piri_Reis_map</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Operation_Highjump">https://en.wikipedia.org/wiki/Operation_Highjump</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Operation_Deep_Freeze">https://en.wikipedia.org/wiki/Operation_Deep_Freeze</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Richard_E._Byrd">https://en.wikipedia.org/wiki/Richard_E._Byrd</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Ronald_Richter">https://en.wikipedia.org/wiki/Ronald_Richter</a></li>
                <li><a href="https://en.wikipedia.org/wiki/The_Spaceships_of_Ezekiel">https://en.wikipedia.org/wiki/The_Spaceships_of_Ezekiel</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Project_Blue_Book">https://en.wikipedia.org/wiki/Project_Blue_Book</a></li>
                <li><a href="http://www.skeptiko-forum.com/threads/first-comprehensive-academic-survey-of-alien-contact-experience-please-continue-to-ignore-308.3142/">http://www.skeptiko-forum.com/threads/first-comprehensive-academic-survey-of-alien-contact-experience-please-continue-to-ignore-308.3142/</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Viktor_Schauberger">https://en.wikipedia.org/wiki/Viktor_Schauberger</a></li>
                <li><a href="https://www.youtube.com/watch?v=hUr_TF9o7sY">https://www.youtube.com/watch?v=hUr_TF9o7sY</a></li>
            </ul>
            <h3>Chemtrails</h3>
            <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
            <audio class="wp-audio-shortcode" id="audio-410-1" preload="none" style="width: 100%;" controls="controls"><source type="audio/mpeg" src="https://www.stromsy.com/wp-content/uploads/2018/01/Chemtrails.mp3?_=1" /><a href="https://www.stromsy.com/wp-content/uploads/2018/01/Chemtrails.mp3">https://www.stromsy.com/wp-content/uploads/2018/01/Chemtrails.mp3</a></audio>
            <ul>
                <li>Frankenskies documentary <a href="https://www.youtube.com/watch?v=zNeOTOytEeA">https://www.youtube.com/watch?v=zNeOTOytEeA</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Atrazine">https://en.wikipedia.org/wiki/Atrazine</a></li>
                <li><a href="https://www.nrdc.org/experts/andrew-wetzler/new-study-confirms-atrazines-effects-across-range-species-including-us">https://www.nrdc.org/experts/andrew-wetzler/new-study-confirms-atrazines-effects-across-range-species-including-us</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Operation_Popeye">https://en.wikipedia.org/wiki/Operation_Popeye</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Project_Stormfury#Project_Cirrus">https://en.wikipedia.org/wiki/Project_Stormfury#Project_Cirrus</a></li>
                <li>Rain promised, flood followed in 1916 <a href="http://www.sandiegouniontribune.com/news/local-history/sdut-charles-hatfield-1916-rainfall-el-nino-san-diego-2015nov21-htmlstory.html">http://www.sandiegouniontribune.com/news/local-history/sdut-charles-hatfield-1916-rainfall-el-nino-san-diego-2015nov21-htmlstory.html</a></li>
                <li><a href="https://www.aircrap.org/2017/11/06/california-fires-bombogenesis-new-weather-term/">https://www.aircrap.org/2017/11/06/california-fires-bombogenesis-new-weather-term/</a></li>
                <li><a href="https://en.wikipedia.org/wiki/High_Frequency_Active_Auroral_Research_Program">https://en.wikipedia.org/wiki/High_Frequency_Active_Auroral_Research_Program</a></li>
                <li><a href="http://www.businessinsider.com/china-sets-aside-millions-to-control-the-rain-2016-7?op=1">http://www.businessinsider.com/china-sets-aside-millions-to-control-the-rain-2016-7?op=1</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Cloud_seeding">https://en.wikipedia.org/wiki/Cloud_seeding</a></li>
                <li><a href="http://www.geoengineeringwatch.org/chemtrails-killing-organic-crops-monsantos-gmo-seeds-thrive/">http://www.geoengineeringwatch.org/chemtrails-killing-organic-crops-monsantos-gmo-seeds-thrive/</a></li>
                <li><a href="http://www.pcworld.com/article/168520/bill_gates_control_weather.html">Can Bill Gates Control the Weather? | PCWorld</a></li>
            </ul>
            
        </article>
    </section>
</section>
