<!DOCTYPE html>
<section>
    <section id="content">
        <article>
            <form ng-submit="logout()">
                <input type="submit" value="log out" />
            </form>
            <h3>Update Password</h3>
            <form name="password-form" ng-submit="updatePassword()">
                <p>
                    <label>old password:</label>
                    <input name="old-password" type="password" required ng-model="pwuser.old_password" />
                </p><p>
                    <label>new password:</label>
                    <input name="new-password" type="password" required ng-model="pwuser.new_password" check-password />
                    <br>
                    <label>confirm old password:</label>
                    <input name="confirm-new-password" type="password" required ng-model="pwuser.confirm_new_password" />
                </p>
                <input type="submit" value="update password" />
            </form>
        </article>
    </section>
</section>
