<!DOCTYPE html>
<section>
    <section id="content">
        <article>
            <form ng-submit="logout()">
                <input type="submit" value="log out" />
            </form>
            <h3>Update Password</h3>
            <form ng-submit="updatePassword()">
                <p>
                    <label>old password:</label>
                    <input type="password" required ng-model="user.old_password" />
                </p>
                <p>
                    <label>new password:</label>
                    <input type="password" required ng-model="user.new_password" />
                </p>
                <input type="submit" value="update password" />
            </form>
        </article>
    </section>
</section>
